html {
    background-color: rgba(20, 20, 20, 1);
    text-align: left;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100vh - 20px);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label {
    font-weight: bold;
    min-width: 200px;
}

.value {
    flex-grow: 1;
}
